<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lyl.widget"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 声明widget对应的AppWidgetProvider -->
        <receiver android:name="WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.lyl.widget.UPDATE_ALL"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget"/>
        </receiver>

        <!-- 用来计时，发送 通知桌面部件更新 -->
        <service android:name=".WidgetService" >
            <intent-filter>
                <action android:name="android.appwidget.action.APP_WIDGET_SERVICE" />
            </intent-filter>
        </service>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>